@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$defaultGreen: #3cbc8d;
$defaultRed: #e44e4e;

html, body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  border-radius: 30px;
  outline: none;
  
  color: white;
  font-weight: 600;
  
  padding: 10px 70px;
  margin: 0 auto;
  cursor: pointer;
}

.btn-success {
  background-color: $defaultGreen;
}

.btn-danger {
  background-color: $defaultRed;
}

.error {
  color: $defaultRed;
  font-size: .8rem;
  margin: 5px 0 0;
}

@mixin white-box {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px #eee;
}

@media (max-width: 1061px) {
  .btn {
    font-size: 0.7rem;
  }
}