@use '../../pattern';

.summary-table-container {

  .summary, .footnote {
    color: #777;
    font-size: .75rem;
  }

  .summary-container {
    display: flex;
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
    table {
      width: 100%;
      th, td {
        padding: 8px 15px;
        overflow: hidden;
        text-align: center;
      }
  
      thead {
        background-color: pattern.$defaultGreen;
    
        th {
          font-size: 0.8rem;
          color: white;
        }
      }
    }
  }
}
