@use '../../../pattern';

.addressinput-container {
  .input-search-container {
    display: flex;
    justify-content: space-between;
    
    input, button {
      margin: 0;
      outline: none;
      border: none;
    }
    
    .input-slider-container {
      width: 80%;
      input {
        width: 100%;
          background-color: transparent;
          border-bottom: 1px solid #ccc;
          transition-property: border-bottom-color;
        }
        
        .slider::after {
          position: relative;
          top: -3px;
          content: '';
          display: block;
          width: 0;
          height: 1px;
          background: pattern.$defaultGreen;
          transition: width .7s ease-out;
      }
      
        input:focus ~ .slider::after {
          width: 102%;
      }
    }


    button {
      background-color: pattern.$defaultGreen;
      padding: 5px 10px;
      color: white;
      border-radius: 10px;
      font-weight: 600;

      margin-left: 10px;
      font-size: 0.7rem;
      cursor: pointer;
    }
  }

  .location-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    input {
      width: 45%;
      text-align: center;
    }
  }
}