@use '../../pattern';

.deliveryform-container {
  @include pattern.white-box;
  display: flex;
  flex-flow: column nowrap;

  margin: 0 30px;
  padding: 30px;

  button.btn-success {
    margin-top: 15px;
  }
}